html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    margin-top: 56px;
    min-height: 100%;
    position: relative;
}

nav.navbar {
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.card.position-absolute {
    padding: 20px 40px;
    left: 30%;
    top: 15%;
    width: 28rem;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
        -webkit-box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14), 0 15px 20px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14), 0 15px 20px rgba(0, 0, 0, 0.20);
        box-shadow: 0 12px 26px rgba(0, 0, 0, 0.14), 0 15px 20px rgba(0, 0, 0, 0.20);
    }
}

.alert {
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.20);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.20);
}

footer {
    position: absolute;
    padding: 1.5rem 1.5rem;
    min-height: 70px;
    height: 1rem;
    width: 100%;
    z-index: 1000 !important;
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 -4px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 -4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.14), 0 -4px 8px rgba(0, 0, 0, 0.28);
    box-sizing: border-box;
    text-align: center;
    span {
        display: inline-block;
    }
}

// ------------------------------- Sidebar --------------------------------
#sidebar {
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    min-width: 300px;
    background-color: #333;
    height: calc(200vh - 4rem);
}

#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}


/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}


/* closed state */

#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}


/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}


/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
}


/* level 2*/

#sidebar .list-group .collapse>.collapse .list-group-item,
#sidebar .list-group .collapse>.collapsing .list-group-item {
    padding-left: 30px;
}


/* level 3*/

#sidebar .list-group .collapse>.collapse>.collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    #sidebar.show {
        transform: translateX(0);
    }
    #sidebar::-webkit-scrollbar {
        width: 0px;
    }
    #sidebar,
    #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show,
    #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group>.list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group>.list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group>.list-group-item[aria-expanded="false"]::after {
        display: none;
    }
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

// ---------------------------------------------------------------------
// ---------------------------- Paper css ------------------------------
.sheet {
    margin: 0
}

@page {
    margin: 0
}

.sheet {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always
}

div.A3 .sheet {
    width: 297mm;
    height: 419mm
}

div.A3.landscape .sheet {
    width: 420mm;
    height: 296mm
}

div.A4 .sheet {
    width: 210mm;
    height: 296mm
}

div.A4.landscape .sheet {
    width: 297mm;
    height: 209mm
}

div.A5 .sheet {
    width: 148mm;
    height: 209mm
}

div.A5.landscape .sheet {
    width: 210mm;
    height: 147mm
}

div.letter .sheet {
    width: 216mm;
    height: 279mm
}

div.letter.landscape .sheet {
    width: 280mm;
    height: 215mm
}

div.legal .sheet {
    width: 216mm;
    height: 356mm
}

div.legal.landscape .sheet {
    width: 357mm;
    height: 215mm
}

.sheet.padding-10mm {
    padding: 10mm
}

.sheet.padding-15mm {
    padding: 15mm
}

.sheet.padding-20mm {
    padding: 20mm
}

.sheet.padding-25mm {
    padding: 25mm
}

@media screen {
    div.A4 {
        background: #e0e0e0
    }
    .sheet {
        background: #fff;
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
        margin: 5mm auto
    }
}

@media print {
    body.A3.landscape {
        width: 420mm
    }
    body.A3,
    body.A4.landscape {
        width: 297mm
    }
    body.A4,
    body.A5.landscape {
        width: 210mm
    }
    body.A5 {
        width: 148mm
    }
    body.legal,
    body.letter {
        width: 216mm
    }
    body.letter.landscape {
        width: 280mm
    }
    body.legal.landscape {
        width: 357mm
    }
}

// ---------------------------------------------------------------------1